#jumbotron_container
  .jumbotron
    .container
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1
          .text-center

            h1 Do you want to be free from Psoriasis?

            markdown:
              I struggled with psoriasis for 16 years before I decided to do something about it...

section.container#more_info  

  .row
    .col-xs-12.col-sm-10.col-sm-offset-1
      markdown:
        
        ## My story, in brief
        
        Hi, my name is Gavin. I first developed Psoriasis when I was 4 years old and it severely impacted most of my childhood. I'd say I *suffered* for about 12 years, sometimes to the point where **my entire body had to be wrapped in tar and gauze every day** to help relieve the constant itching and pain.
        
        These days though, **Psoriasis isn't a problem for me**.
        
        I'm a nerd who doesn't take "you just have to live with it" for an acceptable answer. Instead, I've spent over 10 years experimenting on myself. I collected every book, study, journal, and article I could find that was relevant to the **treatment of psoriasis — without pharmaceutical means**.
        
        No drugs. No potions. No voodoo. Just simple, science-based interventions that are proven to:
        
        * improve immune function
        * improve mental well-being (surprisingly important) 
        * improve gut health (even more important)
        * improve hormone function
        
        I've been amazed by some of the things I've learned. For example, did you know that **some cases of Psoriasis can be triggered by bacteria that lives on your teeth**?
        
        
        I'd like to share everything I've learned with you in a collection I've called **Psoriasis Solved** — that's catchy, right?
        
  
        ## Psoriasis Solved is
        
        
        * Written by me, someone who actually understands what you're going through
        * Written as simple, easy to follow steps you can put to work right away
        * Based on solid, **scientific** data


        ## Psoriasis Solved is *<u>NOT</u>*
        
        * A scam. I'm not going to try and sell you a "colon-cleanse" kit or anything like that. I was let down by so many of these stupid programs before I took a scientific approach
        * A promise of a cure – they still can't *cure* autoimmune diseases yet, but you *can* live without them ever being a problem again
        * Medical advice — <u>I'm not a doctor</u>
       
      hr
      
section.container
  .row
    .col-xs-12.col-sm-10.col-sm-offset-1

    
      = render 'subscribers/form'
      
      hr