// COLOR.
// Make sure to leave color-scheme in config file empty for granular control
$text-color: #333333;
$heading-color: #3498DB;
$link-color: #3498DB;

$border-color: #e5e5e5;
$background-color: #f9f9f9;
$border-color-light: #ffffff;
$border-color-dark: #eeeeee;
