<div id="mc_embed_signup">
  <form action="<%= mailchimp_subscribe_url %>" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      
  	  <h2>Stay in the loop</h2>
  
      <p>
        Psoriasis Solved isn't quite finished yet, but if you leave your email address below, I'll let you know as soon as it is.
      </p>
  
      <div class="mc-field-group form-group">
        <label for="mce-FNAME">Your first name</label>
      
        <input type="text" value="" name="FNAME" class="required form-control" id="mce-FNAME" placeholder="e.g. Ashley">
      </div>
    
      <div class="mc-field-group">
        <label for="mce-EMAIL">Email address</label>
        <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL"  placeholder="e.g. ashley@emailaddress.com">
      </div>
    
    	<div id="mce-responses" class="clear">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>  
        
      <!-- Real people should not fill this in and expect good things - 
        do not remove this or risk form bot signups -->
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_1d5686bbf51d8682fecc3478b_6d61b72c52" tabindex="-1" value="">
      </div>
      
      <div class='text-center clear'>
        <br>
        <input type="submit" value="Keep me in the loop" name="subscribe" 
          id="mc-embedded-subscribe" class="button btn btn-lg btn-primary">
      </div>
      
    </div>
  </form>
  
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'>
</script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->