meta charset='utf-8'
meta name="description" content="I'm a nerd who doesn't take 'you just have to live with it' for an acceptable answer. I've spent over 10 years experimenting on myself. I collected every book, study, journal, and article I could find that was relevant to the treatment of psoriasis — without pharmaceutical means. No drugs. No potions. No voodoo. Just simple, science-based interventions"

// OG Tags
meta property="og:site_name"    content="Psoriasis Solved"
meta property="og:title"        content="Simple, effective solutions to Psoriasis"
meta property="og:description"  content="I'm a nerd who doesn't take 'you just have to live with it' for an acceptable answer. I've spent over 10 years experimenting on myself. I collected every book, study, journal, and article I could find that was relevant to the treatment of psoriasis — without pharmaceutical means. No drugs. No potions. No voodoo. Just simple, science-based interventions"

// Mobile tags
meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible"
meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"
meta content="yes" name="apple-mobile-web-app-capable"

= yield(:meta)

// CSRF Tags
= csrf_meta_tags
